.hero__section{
    background-image: url('../images/BG.png');
    background-color: aquamarine;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 20px;
    position: relative;
}
.hero__section::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.66) 32.29%, rgba(0, 0, 0, 0.71) 65.1%, rgba(0, 0, 0, 0.20) 100%); 
    z-index: 1;

}
.navbar{
    z-index: 2;

}

.navbar-brand, .nav-link{
    color: #fff!important;
}
.navbar-brand{
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}
.dot{
    background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
}
a.nav-link:hover{
    color: #0085FF!important;

}

.btn-success{
    border-radius: 10px;
    background: #FFF;
    color: #202020;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 23px;
    border: 1px solid #fff;
}
.btn-success:hover{
    border: 1px solid #0085FF;
    background-color: #FFF;
    color: #0085FF;
}
.hero__h1{
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    line-height: 130%; 
    padding-top: 270px;
    padding-bottom: 24px;
    position: relative;
    z-index: 3;

}
.hero__content{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 175%; 
    padding-bottom: 260px;
    position: relative;
    z-index: 4;

}

.content__section{
    margin: 130px 0;
}
.name_h2{
    color: #212121;
    font-size: 55px;
    font-weight: 700;
    line-height: 130%; 
}
.designation_h3{
    color: #0085FF;
    font-size: 28px;
    font-weight: 700;
    line-height: 160%; 
    margin: 20px 0;
}
.description_p{
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%; 
    text-align: justify;
    border-left: 1px solid #D9D9D9;
    padding-left: 20px;
}
.work_h4{
    color: #212121;
    font-size: 23px;
    font-weight: 700;
    line-height: 160%; 
    
}
.number{
    border: 1px solid #DCDCE1;
    border-radius:20px ;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    margin: 7px 0 16px 0;
}
.sub-text{
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%; 
}
.timebound{
    color: #0085FF;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}
.expertise{
    margin-top: 130px;
}
.subject-h2{
    color: #212121;
    font-size: 55px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 12px;
}
.touch{
    border-radius: 12px;
    background: var(--Linear, linear-gradient(90deg, #31A8FF 0%, #0085FF 100%));
    padding: 19px 46px;
    color: #fff;
    margin-top: 60px;
}
.box{
    border-radius: 20px;
    background: #F5F6F6;
    height: 134px;
    padding: 22px;

}
.box img{
    margin-bottom: 27px;
}


.software{
    color: #212121;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;

}
.box-special{
    background: var(--L, linear-gradient(90deg, #31A8FF 0%, #0085FF 100%));
    border-radius: 20px;
    height: 134px;
    padding: 22px;

}
.box-special .software{
    color: #fff!important;

}
.icon i{
    height: 30px;
    width: 30px;
    background-color: orange;
}
.work__section{
    background-color:#F7F8F8;
    padding: 105px 0;
}
.sub-work{
    color: #212121;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 175%; 
    padding-top: 80px;
}
.mobile-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    padding: 30px 0 60px 0;
}
.mobile-1{
    position: relative;
}
.card{
    border: none;
    width: 342px;
    border: 15px;
    box-shadow: 0px 10px 24px 0px rgba(221, 225, 225, 0.50);
    position: absolute;
    content: '';
    top: 86%;
    left: 4%;
    z-index: 1;

}
.card-title{
    color: #212121;
    font-size: 26px;
    font-weight: 700;
    line-height: 130%; 
}
.card-subtitle{
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%; 
}
.card-link{
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: underline;
}
.footer__section{
    padding: 73px 0 23px 0;
}
.footer_logo{
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.footer-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 0 44px 0;
}
.footer-privacy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
}
.policy{
    display: flex;
    gap: 56px;
}